.toggle-control {
    display: block;
    position: relative;
    padding-left: 100px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    user-select: none;
}
.toggle-control input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}
.toggle-control input:checked ~ .control {
    background-color: dodgerblue;
}
.toggle-control input:checked ~ .control:after {
    left: 50px;
}
.toggle-control .control {
    position: absolute;
    top: -2vh;
    left: 0;
    height: 45px;
    width: 90px;
    border-radius: 25px;
    background-color: darkgray;
    transition: background-color 0.45s ease-in;
}
.toggle-control .control:after {
    content: "";
    position: absolute;
    left: 5px;
    top: 5px;
    width: 35px;
    height: 35px;
    border-radius: 25px;
    background: white;
    transition: left 0.45s ease-in;
}
